.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 12px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}



